<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="wrapper of google scholar user publication" />

    {% load static from staticfiles %}
    {% static "css/publication.css" as stylesheet %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ stylesheet }}">

    <title>{{ username }} publication </title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header">
        <a href="http://publication-juliendiener.rhcloud.com/">
        <h3>Publication of {{ username }}</h3>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main">
      
      {% for pub in publication %}
        <p> <a href="{{ pub.href }}"> {{ pub.title }} </a> </p>
      {% endfor %}
      
    </div>

    <!-- FOOTER  -->
    <div id="footer">
        <p>A <a href="https://www.djangoproject.com/">Django</a> project running on <a href="https://www.openshift.com/">OpenShift</a></p>
        
        <p><a href="/admin">admin page</a></p>
    </div>
    
  </body>
</html>
